<!DOCTYPE html>
<html>

<head>
    <title>Enter Score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Enter Score</h1>
    <p>Please enter your scores for the following subjects:</p>
    <form action="{{ url_for('process_results') }}" method="POST">
        <input type="text" name="level" value="{{ level }}" hidden>

        <table border="1px" width="60%">
            <tr>
                <th>Subject</th>
                <th>Score</th>
            </tr>
            {% for row in all_subjs %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>
                    <input type="number" name="{{ row[1] }}" min="0" max="100" value="{{ range(35, 100) | random }}">
                </td>
            </tr>
            {% endfor %}
        </table>

        <p>
            <input type="submit" value="Calculate">
        </p>
    </form>
</body>

</html>